fn:
  name: {{deployment:id}}-webapp-user-api
  asset: "/root/.m2/repository/ui/webapp/fn/api.fn.user/1.0.0-SNAPSHOT/api.fn.user-1.0.0-SNAPSHOT.jar"
  handler: ui.webapp.Handler
  subnetType: private_with_egress
  timeout: 60
  memorySize: 256
  runtime: java21
  environment:
    DYNAMODB_USER_TABLE: {{deployment:id}}-webapp-db-user
    USER_POOL_NAME: "{{deployment:id}}-webapp-userpool"
  role:
    name: {{deployment:id}}-webapp-user-api-access
    principal:
      type: service
      value: lambda.amazonaws.com
    managedPolicyNames:
      - service-role/AWSLambdaBasicExecutionRole
      - service-role/AWSLambdaVPCAccessExecutionRole
    customPolicies:
      - name: {{deployment:id}}-webapp-db-user-writer
        policy: policy/db/dynamodb-access.mustache
        mappings:
          resources:
            - arn:aws:dynamodb:{{deployment:region}}:{{deployment:account}}:table/{{deployment:id}}-webapp-db-user
      - name: "{{platform:id}}-{{deployment:id}}-unsubscribe-access"
        policy: "policy/api/unsubscribe-access.mustache"
        mappings:
          cognito:
            - "arn:aws:cognito-idp:{{deployment:region}}:{{deployment:account}}:userpool/{{deployment:region}}*"
    tags:
      "{{deployment:domain}}:resource-type": lambda
      "{{deployment:domain}}:category": api
      "{{deployment:domain}}:type": user
      "{{deployment:domain}}:component": "{{deployment:id}}-webapp-user-api-fn"
      "{{deployment:domain}}:organization": "{{deployment:organization}}"
      "{{deployment:domain}}:name": "{{deployment:team:name}}"
      "{{deployment:domain}}:alias": "{{deployment:team:alias}}"
integration:
  - path: /user/{user}
    method: post
    proxy: true
    allowTestInvoke: true
    connectionType: internet
    passthroughBehavior: never
    options:
      operationName: user-create
      authorizationType: cognito
      apiKeyRequired: false
      requestParameters:
        "method.request.path.user": true
      authorizationScopes: [ ]
      methodResponses: [ ]
  - path: /user/{user}
    method: get
    proxy: true
    allowTestInvoke: true
    connectionType: internet
    passthroughBehavior: never
    options:
      operationName: user-read
      authorizationType: cognito
      apiKeyRequired: false
      requestParameters:
        "method.request.path.user": true
      authorizationScopes: [ ]
      methodResponses: [ ]
  - path: /user/{user}
    method: put
    proxy: true
    allowTestInvoke: true
    connectionType: internet
    passthroughBehavior: never
    options:
      operationName: user-update
      authorizationType: cognito
      apiKeyRequired: false
      requestParameters:
        "method.request.path.user": true
      authorizationScopes: [ ]
      methodResponses: [ ]
  - path: /user/{user}/unsubscribe
    method: delete
    proxy: true
    allowTestInvoke: true
    connectionType: internet
    passthroughBehavior: never
    options:
      operationName: user-unsubscribe
      authorizationType: cognito
      apiKeyRequired: false
      requestParameters:
        "method.request.path.user": true
      authorizationScopes: [ ]
      methodResponses: [ ]
