enabled: false
sender:
  fromName: {{deployment:name}}
  fromEmail: hi@{{deployment:domain}}
  replyTo: noreply@{{deployment:domain}}
  configurationSetName: {{deployment:id}}-webapp-configuration-set
  sesRegion: {{deployment:region}}
  sesVerifiedDomain: {{deployment:domain}}
