enabled: true
externalId: {{deployment:name}}
role:
  name: {{deployment:id}}-webapp-cognito-sns
  principal:
    type: service
    value: cognito-idp.amazonaws.com
    conditions:
      StringEquals:
        "sts:ExternalId": {{deployment:name}}
  managedPolicyNames:
    - AmazonSNSFullAccess
  customPolicies: [ ]
  tags:
    "{{deployment:domain}}:resource-type": sns
    "{{deployment:domain}}:category": public
    "{{deployment:domain}}:type": sms
    "{{deployment:domain}}:component": "{{deployment:id}}-webapp-cognito-sns"
    "{{deployment:domain}}:part-of": "{{synthesizer:name}}:{{deployment:organization}}:{{deployment:name}}:{{deployment:alias}}:webapp"
