enabled: true
externalId: {{deployment:team:name}}
role:
  name: {{deployment:id}}-webapp-cognito-sns
  principal:
    type: service
    value: cognito-idp.amazonaws.com
    conditions:
      StringEquals:
        "sts:ExternalId": {{deployment:team:name}}
  managedPolicyNames:
    - AmazonSNSFullAccess
  customPolicies: [ ]
  tags:
    "{{deployment:domain}}:resource-type": sns
    "{{deployment:domain}}:category": public
    "{{deployment:domain}}:type": sms
    "{{deployment:domain}}:component": "{{deployment:id}}-webapp-cognito-sns"
    "{{deployment:domain}}:organization": "{{deployment:organization}}"
    "{{deployment:domain}}:name": "{{deployment:team:name}}"
    "{{deployment:domain}}:alias": "{{deployment:team:alias}}"
