base:
  name: base-auth
  asset: "/root/.m2/repository/ui/webapp/fn/auth.fn.shared/1.0.0-SNAPSHOT/auth.fn.shared-1.0.0-SNAPSHOT.zip"
  removalPolicy: destroy
  runtimes: [ "java21" ]

customMessage:
  name: {{deployment:id}}-webapp-message-trigger
  asset: "/root/.m2/repository/ui/webapp/fn/auth.fn.message/1.0.0-SNAPSHOT/auth.fn.message-1.0.0-SNAPSHOT.jar"
  handler: ui.webapp.Handler
  subnetType: private_with_egress
  timeout: 60
  memorySize: 512
  runtime: java21
  role:
    name: {{deployment:id}}-webapp-message-trigger-access
    principal:
      type: service
      value: lambda.amazonaws.com
    managedPolicyNames:
      - service-role/AWSLambdaBasicExecutionRole
      - service-role/AWSLambdaVPCAccessExecutionRole
    tags:
      "{{deployment:domain}}:resource-type": role
      "{{deployment:domain}}:category": auth
      "{{deployment:domain}}:type": user
      "{{deployment:domain}}:component": "{{deployment:id}}-webapp-custom-message-trigger"
      "{{deployment:domain}}:organization": "{{deployment:organization}}"
      "{{deployment:domain}}:name": "{{deployment:team:name}}"
      "{{deployment:domain}}:alias": "{{deployment:team:alias}}"

postConfirmation:
  name: {{deployment:id}}-webapp-post-confirmation-trigger
  asset: "/root/.m2/repository/ui/webapp/fn/auth.fn.post-confirmation/1.0.0-SNAPSHOT/auth.fn.post-confirmation-1.0.0-SNAPSHOT.jar"
  handler: "ui.webapp.Handler"
  subnetType: private_with_egress
  timeout: 60
  memorySize: 512
  runtime: java21
  environment:
    DYNAMODB_USER_TABLE: "{{deployment:id}}-webapp-db-user"
  role:
    name: {{deployment:id}}-webapp-post-confirmation-trigger-access
    principal:
      type: service
      value: lambda.amazonaws.com
    managedPolicyNames:
      - service-role/AWSLambdaBasicExecutionRole
      - service-role/AWSLambdaVPCAccessExecutionRole
    customPolicies:
      - name: allow-update-cognito-user-group-{{deployment:id}}
        policy: policy/auth/userpool-access.mustache
        mappings:
          resources:
            - "arn:aws:cognito-idp:{{deployment:region}}:{{deployment:account}}:userpool/{{deployment:region}}_*"
      - name: "{{platform:id}}-{{deployment:id}}-user-db-access"
        policy: "policy/db/dynamodb-access.mustache"
        mappings:
          resources:
            - "arn:aws:dynamodb:{{deployment:region}}:{{deployment:account}}:table/{{deployment:id}}-webapp-db-user"
    tags:
      "{{deployment:domain}}:resource-type": role
      "{{deployment:domain}}:category": auth
      "{{deployment:domain}}:type": user
      "{{deployment:domain}}:component": "{{deployment:id}}-webapp-post-confirmation-trigger"
      "{{deployment:domain}}:organization": "{{deployment:organization}}"
      "{{deployment:domain}}:name": "{{deployment:team:name}}"
      "{{deployment:domain}}:alias": "{{deployment:team:alias}}"
