platform:
  common:
    id: {{platform:id}}
    organization: {{platform:organization}}
    account: {{platform:account}}
    region: {{platform:region}}
    name: {{platform:name}}
    alias: {{platform:alias}}
    environment: {{platform:environment}}
    version: {{platform:version}}
    domain: {{platform:domain}}
    tags:
      "{{platform:domain}}:billing": {{platform:organization}}
      "{{platform:domain}}:managed-by": {{platform:organization}}
      "{{platform:domain}}:account": {{platform:account}}
      "{{platform:domain}}:region": {{platform:region}}
      "{{platform:domain}}:name": {{platform:name}}
      "{{platform:domain}}:type": {{platform:alias}}
      "{{platform:domain}}:environment": {{platform:environment}}
      "{{platform:domain}}:version": {{platform:version}}
      "{{platform:domain}}:part-of": "{{platform:organization}}:{{platform:account}}:{{platform:name}}:{{platform:alias}}"

deployment:
  common:
    id: {{deployment:id}}
    organization: {{deployment:organization}}
    account: {{deployment:account}}
    region: {{deployment:region}}
    name: {{deployment:name}}
    alias: {{deployment:alias}}
    environment: {{deployment:environment}}
    version: {{deployment:version}}
    domain: {{deployment:domain}}
    tags:
      "{{deployment:domain}}:billing": {{deployment:organization}}
      "{{deployment:domain}}:managed-by": {{deployment:organization}}
      "{{deployment:domain}}:account": {{deployment:account}}
      "{{deployment:domain}}:region": {{deployment:region}}
      "{{deployment:domain}}:name": {{deployment:name}}
      "{{deployment:domain}}:alias": {{deployment:alias}}
      "{{deployment:domain}}:environment": {{deployment:environment}}
      "{{deployment:domain}}:version": {{deployment:version}}
      "{{deployment:domain}}:part-of": "{{synthesizer:name}}:{{deployment:organization}}:{{deployment:name}}:{{deployment:alias}}:webapp"

  vpc:
    name: {{deployment:id}}-webapp-vpc
    cidr: 192.168.0.0/16
    ipProtocol: ipv4_only
    natGateways: 2
    createInternetGateway: true
    availabilityZones:
      - {{deployment:region}}a
      - {{deployment:region}}b
      - {{deployment:region}}c
    enableDnsSupport: true
    enableDnsHostnames: true
    defaultInstanceTenancy: default
    securityGroups: [ ]
    subnets:
      - name: public
        cidrMask: 24
        reserved: false
        subnetType: public
        mapPublicIpOnLaunch: false
        tags:
          "{{deployment:domain}}:resource-type": subnet
          "{{deployment:domain}}:category": network
          "{{deployment:domain}}:type": public
          "{{deployment:domain}}:cidrMask": 24
          "{{deployment:domain}}:component": {{deployment:id}}-webapp-vpc-subnet
          "{{deployment:domain}}:part-of": "{{synthesizer:name}}:{{deployment:organization}}:{{deployment:name}}:{{deployment:alias}}:webapp"
      - name: private
        cidrMask: 24
        reserved: false
        subnetType: private_with_egress
        tags:
          "{{deployment:domain}}:resource-type": subnet
          "{{deployment:domain}}:category": network
          "{{deployment:domain}}:type": private_with_egress
          "{{deployment:domain}}:cidrMask": 24
          "{{deployment:domain}}:component": {{deployment:id}}-webapp-vpc-subnet
          "{{deployment:domain}}:part-of": "{{synthesizer:name}}:{{deployment:organization}}:{{deployment:name}}:{{deployment:alias}}:webapp"
    tags:
      "{{deployment:domain}}:resource-type": vpc
      "{{deployment:domain}}:category": network
      "{{deployment:domain}}:type": network
      "{{deployment:domain}}:cidrMask": 24
      "{{deployment:domain}}:component": {{deployment:id}}-webapp-vpc
      "{{deployment:domain}}:part-of": "{{synthesizer:name}}:{{deployment:organization}}:{{deployment:name}}:{{deployment:alias}}:webapp"

  ses:
    identity:
      hostedZone: {{deployment:ses:hosted:zone}}
      email: {{deployment:ses:email}}
      domain: {{deployment:domain}}
      mxFailure: use_default_value
      mailFromDomain: feedback.{{deployment:domain}}
      feedbackForwarding: true
      configurationSet:
        name: {{deployment:id}}-webapp-configuration-set
        customTrackingRedirectDomain: {{deployment:domain}}
        reputationMetrics: true
        sendingEnabled: true
        tlsPolicyConfiguration: optional
        suppressionReasons: bounces_and_complaints
        dedicatedIpPool:
          enabled: false
          name: {{deployment:id}}-webapp-ip-pool
          scalingMode: standard
    receiving:
      name: {{deployment:id}}-webapp-receipt-rules
      dropSpam: false
      bucket:
        name: {{deployment:id}}-webapp-ses-received-emails
        accessControl: bucket_owner_full_control
        objectOwnership: bucket_owner_enforced
        removalPolicy: destroy
        autoDeleteObjects: true
        bucketPolicies:
          - name: {{deployment:id}}-webapp-ses-receipts
            policy: policy/ses/put-emails.mustache
            principals:
              - type: service
                value: ses.amazonaws.com
            mappings:
              receiptRule: arn:aws:ses:{{deployment:region}}:{{deployment:account}}:receipt-rule-set/{{deployment:id}}-webapp-receipt-rules:receipt-rule/*
              resources:
                - arn:aws:s3:::{{deployment:id}}-webapp-ses-received-emails/*
                - arn:aws:s3:::{{deployment:id}}-webapp-ses-received-emails
        lifecycleRules:
          - id: {{deployment:id}}-webapp-ses-received-emails
            expiration: 1
            enabled: true
        tags:
          "{{deployment:domain}}:resource-type": s3
          "{{deployment:domain}}:category": ses
          "{{deployment:domain}}:type": received
          "{{deployment:domain}}:component": {{deployment:id}}-webapp-ses
          "{{deployment:domain}}:part-of": "{{synthesizer:name}}:{{deployment:organization}}:{{deployment:name}}:{{deployment:alias}}:webapp"
      rules:
        - name: email-receipt
          enabled: true
          scanEnabled: true
          recipients:
            - hi@{{deployment:domain}}
          s3Actions:
            - prefix: emails/
              topic: {{deployment:id}}-webapp-received-emails
    destination:
      bounce:
        enabled: true
        topic: "{{deployment:id}}-webapp-bounce"
        configurationSet: "{{deployment:id}}-webapp-configuration-set"
      reject:
        enabled: true
        topic: "{{deployment:id}}-webapp-complaint"
        configurationSet: "{{deployment:id}}-webapp-configuration-set"
      complaint:
        topic: "{{deployment:id}}-webapp-reject"
        configurationSet: "{{deployment:id}}-webapp-configuration-set"
        enabled: true

  auth:
    vpcName: {{deployment:id}}-webapp-vpc
    userPool: auth/userpool.mustache
    userPoolClient: auth/userpoolclient.mustache

  db:
    vpcName: {{deployment:id}}-webapp-vpc
    user:
      name: {{deployment:id}}-webapp-db-user
      partitionKey:
        name: id
        type: string
      tableClass: standard
      removalPolicy: destroy
      contributorInsights: true
      deletionProtection: false
      encryption:
        enabled: true
        owner: aws
        kms: { }
      billing:
        onDemand: true
      streams:
        kinesis:
          enabled: false
          name: {{deployment:id}}-webapp-db-user-change
          shards: 2
          mode: on_demand
          encryption: unencrypted
          removalPolicy: destroy
          retentionPeriod: 1
        dynamoDb:
          enabled: false
          type: new_image
    listener: { }

  api:
    authorizer:
      name: {{deployment:id}}-webapp-api
    apigw:
      vpcName: {{deployment:id}}-webapp-vpc
      name: {{deployment:id}}-webapp-api
      description: "{{deployment:id}} api gateway for webapp resources"
      cloudwatchEnabled: true
      disableExecuteApi: false
      authorizationType: cognito
      validators: []
      requestModels: []
      baseLayer:
        name: base-api
        asset: "/root/.m2/repository/ui/webapp/fn/api.fn.shared/1.0.0-SNAPSHOT/api.fn.shared-1.0.0-SNAPSHOT.zip"
        removalPolicy: destroy
        runtimes: [ "java21" ]
      methodResponses: [ ]
      stageOptions:
        stageName: v1
        description: "{{deployment:id}} api"
        loggingLevel: info
        variables: { }
        tracingEnabled: true
        cachingEnabled: true
        dataTraceEnabled: true
        metricsEnabled: true
        throttlingBurstLimit: 20.0
        throttlingRateLimit: 50
      logGroup:
        name: {{deployment:id}}-webapp-apigw-logs
        type: standard
        retention: one_day
        removalPolicy: destroy
      tags:
        "{{deployment:domain}}:resource-type": http-api-gateway
        "{{deployment:domain}}:category": api
        "{{deployment:domain}}:type": public
        "{{deployment:domain}}:component": {{deployment:id}}-webapp-api
        "{{deployment:domain}}:part-of": "{{synthesizer:name}}:{{deployment:organization}}:{{deployment:name}}:{{deployment:alias}}:webapp"
    resource: api/user.mustache
