{
  "Effect": "Allow",
  "Action": [
    "s3:PutObject"
  ],
  "Resource": [
    {{#resources}}
      "{{.}}",
    {{/resources}}
  ],
  "Condition": {
    "StringEquals": {
      "AWS:SourceAccount": "{{deployment:account}}",
      "AWS:SourceArn": "{{receiptRule}}"
    }
  }
}